*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    color: #1d1d1b;
}
@font-face {
    font-family:Magnetblack ;
    src: url(/SourceSansPro-Black.ttf);
}
nav{
        width: 100%;
        height: 10vh;
        position: relative;
        display: flex;
        padding: 0px 150px;
        align-items: center;
        background-color: rgba(234, 225, 206, 0.326);
        position: fixed;
        border: 0.3px solid rgb(126, 123, 123);
        z-index: 999;
}
.logo{
    display: flex;
    align-items: center;
}
.nav-links{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 100px;
    gap:30px;
}
.nav-links p {
    font-family: Magnetblack;
    font-size: 13px;
    font-weight: 600;
    color: black;

}
.icons{
    display: flex;
    align-items: center;
    padding-left:100px;
    justify-content: end;
    height: 100%;
    width: 50%;
    gap:20px;
}
.credit-container{
    display:flex;
    gap:5px;
    font-family: Magnetblack;
    font-size: 10px;

}
/* last two icons div */
.cartsvg , .profilesvg{
    border: 1px solid black;
    border-radius:  2px;
    padding: 2px;

}
.svg-icons{
    display: flex;
    align-items: center;
    gap:5px;
}
.hero{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero img{
    height: 100%;
    width: 100%;
}
.overlay{
    height: 100%;
    width: 100%;display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top:0;
    padding: 0px 150px;
    padding-top: 100px;
    padding-bottom: 40px;
}
.overlay h1{
    font-size: 60px;
    font-family: Magnetblack;
    width: 50%;
}
.card-container{
    display: flex;
    gap:20px;
}
.card{
    height: 300px;
    width: 300px;
    border-radius: 30px;
    background-color: rgba(255,255,255,0.42);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    position: relative;
    transition: all ease 0.1s;
}
.text-container{
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden ;
    transition: all ease 0.3s;
}
.text-container  p{ 
    font-size: 26px;
    font-family: Magnetblack;
    font-weight: 600;

}
.card:hover{
    background-color: #FFFDF5;
}

.card:hover .text-container p{
    margin-top: -30%;
}
.para-container{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    top: 10%;
    gap: 5px;
    flex-direction: column;

}
.para-text-container {
    gap:20px;
    font-size: 15px;
    position: relative;
    height: 2vh;
    width: 100%;
    overflow: hidden;
}
.para-text-container p{
    font-family: Magnetblack;
    font-size: 12px;
    position: absolute;
    left:10px;
    bottom: -100%;
    transition: all ease 0.5s;
}
.card:hover .para-text-container p {
    bottom: 0;
}
.line-horizontal{
    height: 1px;
    width: 0%;
    background-color: #000;
    position: absolute;
    bottom: 20%;
    left: 10px;
    transition: all ease 0.5s;
}
.card:hover .line-horizontal{
    width: 90%;
}
.button-container{
    position: absolute;
    display:flex ;
    bottom:5%;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px;
    opacity: 0;
    transition: all ease 0.5s;

}
.button-container p {
    font-family: Magnetblack;
    font-size: 12px;
}
.card:hover .button-container{
    opacity: 1;
    bottom: 7%;
}
.image-card-section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    position: relative;
}
.image-card-section img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: all ease 0.5s;
}
.box{
    height: 200px;
    width: 200px;
     background-color: rgba(255, 255, 255, 0.34);
     backdrop-filter: blur(5px);
    border-radius: 10px;
}

.box:hover{
    height: 300px;
    width: 300px;
    gap: 15px;

}
.box1:hover ~ .img1{
    opacity: 1;

}
.box2:hover ~ .img2{
    opacity: 1;

}
.box3:hover ~ .img3{
    opacity: 1;

}
